rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 限られたユーザーのみの利用を想定した必要最低限のルール
    
    // 全ての読み取り・書き込みを許可（一時的な緩和措置）
    match /{document=**} {
      allow read, write: if true;
    }
  }
}